[user]
	name = Jacob Roberts
	email = jroberts.g1ql8@simplelogin.com

[includeIf "gitdir:~/src/github.com/monzo/"]
    path = .gitconfig-monzo
[includeIf "gitdir:~/developer/boxworks/"]
    path = .gitconfig-boxworks
[includeIf "gitdir:~/Developer/boxworks/"]
    path = .gitconfig-boxworks
[includeIf "gitdir:~/developer/school/"]
    path = .gitconfig-school
[includeIf "gitdir:~/Developer/school/"]
    path = .gitconfig-school

[color]
	ui = true

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[url "ssh://git@github.com/monzo/"]
	insteadOf = https://github.com/monzo/

[scalar]
	repo = /Users/jacobroberts/src/github.com/monzo/wearedev

[rebase]
	updateRefs = true
[init]
	defaultBranch = main
