[user]
	name = Jacob Roberts
	email = jroberts.g1ql8@simplelogin.com
	signingkey = ~/.ssh/id_ed25519.pub

[includeIf "gitdir:~/src/github.com/monzo/"]
    path = .gitconfig-monzo
[includeIf "gitdir:~/developer/boxworks/"]
    path = .gitconfig-boxworks
[includeIf "gitdir:~/Developer/boxworks/"]
    path = .gitconfig-boxworks
[includeIf "gitdir:~/developer/school/"]
    path = .gitconfig-school
[includeIf "gitdir:~/Developer/school/"]
    path = .gitconfig-school

[color]
	ui = true

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[rebase]
	updateRefs = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
[rerere]
	enabled = true
[gpg]
	format = ssh
